In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.ticker as ticker
import io
import os
import glob

import numpy as np
import scipy
import seaborn as sns

In [24]:
df_death_sex= pd.read_csv('Provisional_COVID-19_Deaths_by_Sex_and_Age.csv')
df_death_sex.sample(5)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
34826,01/18/2023,06/01/2020,06/30/2020,By Month,2020.0,6.0,Georgia,Female,40-49 years,11.0,164.0,NaN,NaN,0.0,17.0,One or more data cells have counts between 1-9...
59283,01/18/2023,05/01/2020,05/31/2020,By Month,2020.0,5.0,Minnesota,Male,5-14 years,0.0,NaN,0.0,0.0,0.0,0.0,One or more data cells have counts between 1-9...
59409,01/18/2023,07/01/2020,07/31/2020,By Month,2020.0,7.0,Minnesota,Female,45-54 years,NaN,88.0,NaN,0.0,0.0,NaN,One or more data cells have counts between 1-9...
4305,01/18/2023,01/01/2022,12/31/2022,By Year,2022.0,NaN,Connecticut,Male,5-14 years,0.0,26.0,0.0,0.0,0.0,0.0,NaN
14395,01/18/2023,01/01/2021,01/31/2021,By Month,2021.0,1.0,United States,All Sexes,55-64 years,12860.0,48036.0,9206.0,7371.0,23.0,14710.0,NaN

In [30]:
df_death_sex.shape

(115668, 16)

In [26]:
df_death_sex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115668 entries, 0 to 115667
Data columns (total 16 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Data As Of                                115668 non-null  object
 1   Start Date                                115668 non-null  object
 2   End Date                                  115668 non-null  object
 3   Group                                     115668 non-null  object
 4   Year                                      112914 non-null  float64
 5   Month                                     101898 non-null  float64
 6   State                                     115668 non-null  object
 7   Sex                                       115668 non-null  object
 8   Age Group                                 115668 non-null  object
 9   COVID-19 Deaths                           83845 non-null   float64
 10  Total Deaths                              98522 non-null   float64
 11  Pneumonia Deaths                          79375 non-null   float64
 12  Pneumonia and COVID-19 Deaths             85192 non-null   float64
 13  Influenza Deaths                          93261 non-null   float64
 14  Pneumonia, Influenza, or COVID-19 Deaths  79990 non-null   float64
 15  Footnote                                  79898 non-null   object
dtypes: float64(8), object(8)
memory usage: 14.1+ MB

In [27]:
df_death_sex.describe()

,Year,Month,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,112914.000000,101898.000000,8.384500e+04,9.852200e+04,7.937500e+04,85192.000000,93261.000000,7.999000e+04
mean,2021.097561,6.351351,3.517634e+02,2.812182e+03,3.497108e+02,174.884355,4.937058,5.352093e+02
std,0.905405,3.519970,6.263515e+03,5.226995e+04,6.016664e+03,3162.390684,103.262381,9.239907e+03
min,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,2020.000000,3.000000,0.000000e+00,4.100000e+01,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,2021.000000,6.000000,1.000000e+01,1.480000e+02,1.700000e+01,0.000000,0.000000,2.500000e+01
75%,2022.000000,9.000000,6.000000e+01,6.480000e+02,7.600000e+01,26.000000,0.000000,1.120000e+02
max,2023.000000,12.000000,1.094723e+06,1.014481e+07,1.030983e+06,550128.000000,18477.000000,1.591892e+06

In [39]:
# Create a histogram with density curve for a single co
sns.histplot(data=df_death_sex, x="Total Deaths", kde=True)

In [7]:
df_death_state= pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023.csv')
df_death_state.head(5)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,01/15/2023,01/01/2020,01/14/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1482.0,1550.0,NaN
1,01/15/2023,01/01/2020,01/14/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5686.0,5902.0,NaN
2,01/15/2023,01/01/2020,01/14/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,14860.0,15472.0,NaN
3,01/15/2023,01/01/2020,01/14/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,36948.0,38395.0,NaN
4,01/15/2023,01/01/2020,01/14/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,81274.0,84225.0,NaN